.about {
  @include container;

  margin: $about-margin-sm;

  @include md-and-up {
    @include grid;

    grid-template-columns: repeat(2, 1fr);
    margin: $about-margin-md;
  }

  @include lg-and-up {
    grid-template-columns: 5fr 6fr 1fr;
  }

  &__title {
    @include title;

    margin-bottom: $title-font-size-sm;

    @include md-and-up {
      margin-bottom: 0;
    }
  }

  &__text {
    margin: 0;
    font-size: $about-text-font-size;
  }
}
