.aside {
  position: fixed;
  z-index: 20;
  top: 0;
  right: 0;
  transform: translateX(100%);

  display: flex;
  flex-direction: column;
  gap: calc($aside-offset * 3);

  width: 100%;
  height: 100vh;
  height: 100dvh;

  background-color: $grey;

  transition: transform $transition-duration ease;

  &--open {
    transform: translateX(0);
  }

  &__header {
    @include container;

    display: flex;
    gap: $icon-size-sm;
    align-items: center;
    justify-content: space-between;

    padding-top: $header-padding-y-sm;
    padding-bottom: $header-padding-y-sm;
  }

  &__footer {
    @include container;

    display: flex;
    flex-direction: column;
    gap: $aside-offset;

    font-size: $btn-font-size;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: $btn-letter-spacing;

    & * {
      color: $black;
    }
  }
}
