.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: $btn-height;
  padding: $btn-padding;
  border-radius: $btn-height;

  font-size: $btn-font-size;
  font-weight: 700;
  color: $black;
  text-decoration: none;
  letter-spacing: $btn-letter-spacing;

  background-color: $white;
  box-shadow: none;

  transition-timing-function: ease-in-out;
  transition-duration: $transition-duration;
  transition-property: box-shadow;

  &:hover {
    box-shadow: $btn-hover;
  }

  &:active {
    box-shadow: $btn-pressed;
  }
}
