.compare {
  @include container;

  margin: $compare-margin-sm;

  @include md-and-up {
    margin: $compare-margin-md;
  }

  &__title {
    @include title;

    text-align: center;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: $compare-gap-sm;
    align-items: center;

    margin-top: $compare-gap-sm;

    @include md-and-up {
      @include grid;

      grid-template-columns: 1fr 4fr 1fr;
    }

    @include lg-and-up {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  &__item {
    grid-column: 2 / span 2;

    @include lg-and-up {
      grid-column: auto;
    }
  }
}
