.footer {
  position: sticky;
  z-index: 1;
  bottom: 0;

  height: $footer-height-sm;

  background-image: url('../images/footer.png');
  background-size: cover;

  @include md-and-up {
    height: $footer-height-md;
  }

  @include lg-and-up {
    height: $footer-height-lg;
  }
}
