.hero {
  display: flex;
  align-items: flex-end;
  justify-content: center;

  min-height: $hero-height-sm;
  padding-bottom: $hero-title-bottom-pos-sm;

  background-image: url('../images/cover_photo.png');
  background-position: $hero-bg-position-sm;
  background-size: cover;

  @include md-and-up {
    min-height: $hero-height-md;
    padding-bottom: $hero-title-bottom-pos-md;
    background-position: $hero-bg-position-md;
  }

  @include lg-and-up {
    min-height: $hero-height-lg;
    padding-bottom: $hero-title-bottom-pos-lg;
  }

  &__title {
    margin: 0;
    font-size: $hero-title-font-size-sm;
    font-weight: 700;
    letter-spacing: $title-letter-spacing;

    @include md-and-up {
      font-size: $hero-title-font-size-md;
    }

    @include lg-and-up {
      font-size: $hero-title-font-size-lg;
    }
  }
}
