.icon {
  display: inline-block;

  width: $icon-size-sm;
  height: $icon-size-sm;
  border: none;

  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;

  @include md-and-up {
    width: $icon-size-md;
    height: $icon-size-md;
  }

  &--phone {
    background-image: url('../images/icons/icon-phone-call.svg');
  }

  &--menu {
    background-image: url('../images/icons/icon-burger-menu.svg');
  }

  &--close {
    background-image: url('../images/icons/icon-close.svg');
  }
}
